$info-color:                 #2CA8FF !default;
$success-color:              #18ce0f !default;
$primary-color:              #f96332 !default;
$default-color:              #888888 !default;
$warning-color:              #FFB236 !default;
$danger-color:               #FF3636 !default;
$white-color:                #FFFFFF !default;
$black-color:                #2c2c2c !default;